<div id="header">
	<img src="/images/main_logo.svg" alt="Aaron Germuth"/>
	<ul>
		<li><a href="/" class="current">Home</a></li>
		<li><a href="http://github.com/germuth">Github</a></li>
		<li><a href="http://ca.linkedin.com/in/germuth">LinkedIn</a></li>
		<!--
		<li><a href="https://lit-coast-3676.herokuapp.com">Blog</a></li>
		-->
	</ul>
</div>

<div id="content-outer">
	<div id="content-inner">

		<div class="home">

			<div class="ids">
				<ul class="info">
					<li><span style="font-size: 150%; font-family: sans-serif">Aaron Germuth</span></li>
					<li> <br/></li>
					<li>Software Developer</li>
					<li>Machine Learning Enthusiast</li>
					<!--
					<li>Entrepreneur</li>
					<li>Cool Dude</li>
					-->
					<li><a href="mailto:germuth@unbc.ca" class="link">germuth@unbc.ca</a></li>
				</ul>
			</div>

			<hr /><br />

			<div class="links">
				<%= link_to "Resume", 'files/2015Resume.pdf', style: 'background-image: url(images/blog.svg)'	%>
				<a style="background-image: url(images/github.svg);" href="https://github.com/germuth">GitHub</a>
				<a style="background-image: url(images/linkedin.svg);" href="https://www.linkedin.com/in/germuth">LinkedIn</a>
				<a style="background-image: url(images/puzzled.svg);" href="/puzzled_promo">Puzzled</a>
				<!--
				<a style="background-image: url(images/blog.svg);" href="https://lit-coast-3676.herokuapp.com">Blog</a>
				<a style="background-image: url(images/youtube_linker.svg);" href="http://linker.germuth.me">YouTube <br/> Linker</a>
				-->
				<a style="background-image: url(images/benzene.svg);" href="https://github.com/germuth/Kekule-Graphs">Kekule <br/>Theory</a>
				<a style="background-image: url(images/protein.svg);" href="https://github.com/germuth/3D-HP-Protein-Folding">3D HP<br/>Protein<br/>Folding</a>
			</div>
			<br />
		</div>
	</div>
</div>
<div class="footer">
</div>
