<%= stylesheet_link_tag "machine_learning", "home" %>
<%= render 'shared/base_page_layout' %>
<div id="content-outer">
	<div id="content-inner">

		<div class="home">

			<div class="home-inside">
					<h1>Machine Learning</h1>

			<hr/><br/>

			<div class="image_container">
			<%= image_tag("robot2.svg", :class =>"robot", :alt => "robot picture") %>
		</div>
	
			<div class="details">
			<p>Familiar with:<p/>
			<ul>
				<li>Logistic Regression</li>
				<li>Linear Regression</li>
				<li>Regularization, Normalization</li>
				<li>Gradient Descent</li>
				<li>Neural Networks</li>
				<li>Stochastic Back Propagation</li>
				<li>Support Vector Machines</li>
			</ul>

			<p>Qualifications:</p>
			<ul>
				<li>CPSC 371: Artificial Intelligence</li>
				<li>Machine Learning on Coursera by Andrew Ng</li>
			</ul>
			</p>

			<p>Current Projects:</p>
			<ul>
				<li>Java library of learning algorithms</p>
				<li>Solving a Rubik's cube with a Neural Network</p>
			</ul>
			<p>Currently Reading:</p>
			<ul>
				<li>Elements of Statistical Learing</li>
				<li>Deep Learing</li>
				<li>Model Based Machine Learing</li>
			</ul>
		</div>
		</div>
		</div>
	</div>
</div>
