<%= stylesheet_link_tag "puzzled_promo" %>
<img id="heading" src="/images/puzzled_promo/heading_edit.png" alt="Puzzled Logo"/>
<div id="explanation">
	<h2 class="section_title">A Twisty Puzzle Simulator Desgined for Speed</h2>
	<div id="attributes">
		<div class="attribute">
			<img class="attribute_logo" src="/images/main_logo.svg"/>
			<h3>Multiple Puzzles</h3>
			<p>Use your favorite twisty puzzle, from 2x2 to 10x10 to gigaminx.</p>
		</div>
		<div class="attribute">
			<img class="attribute_logo" src="/images/puzzled_promo/stats.png"/>
			<h3>Useful Statistics</h3>
			<p>TPS, Look-Ahead metrics, and a % breakdown in both time and moves for Cross, F2L, or LL</p>
		</div>
		<div class="attribute">
			<img class="attribute_logo" src="/images/puzzled_promo/leaderboards.png"/>
			<h3>Global Leaderboards</h3>
			<p>Compete against your friends, or the entire world with metrics such as best single, Bo3, or Bo5.</p>
		</div>
		<div class="attribute">
			<img class="attribute_logo" src="/images/puzzled_promo/achievements.png"/>
			<h3>Achievements</h3>
			<p>Keep track of your progress and work to unlock every achievement.</p>
		</div>
		<div class="attribute">
			<img class="attribute_logo" src="/images/puzzled_promo/leaderboards.png"/>
			<h3>Practice Modes</h3>
			<p>Practice your weakest stages with multiple practice modes, such as cross or last layer only.</p>
		</div>
		<div class="attribute">
			<img class="attribute_logo" src="/images/puzzled_promo/settings.png"/>
			<h3>Personalize</h3>
			<p>Customize the app to with sticker colors, statistics, inspection time and many others</p>
		</div>
	</div>
	<div id="contact">
		<h2 class="section_title">Coming soon</h2>
		<p>Interested in hearing more, such as beta testing or release updates?</p>
		<p>Comments, Questions, or Concerns? <br/> Email <a href="mailto:puzzled@gmail.com" class="link">puzzled@gmail.com</a></p>
	</div> 
