<div id="header">
	<img src="/images/main_logo.svg" alt="Aaron Germuth"/>
	<ul>
		<li><a href="/" class="current">Home</a></li>
		<li><a href="http://github.com/germuth">Github</a></li>
		<li><a href="http://ca.linkedin.com/in/germuth">LinkedIn</a></li>
		<!--
		<li><a href="https://lit-coast-3676.herokuapp.com">Blog</a></li>
		-->
	</ul>
</div>

