/* CSS for puzzled promo */
#heading {
	width: 100%;
	margin-bottom: -10px;
}

#explanation {
	padding: 10px 0px;
	background: #7F664D;
	text-align: center;
}

.section_title {
	font: 700 3.0em/1.3 'PT Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	/*font-family: Montserrat, sant-serif;*/
	color: #FFF;
}

#attributes {
}

.attribute {
	display: inline-block;
	width: 28.00%;
	margin: 30px 10px;
}

.attribute_logo {
	width: 70px;
	height: 70px;
}

.attribute h3 {
	margin-bottom: 15px;
	color: #FFF;
}

.attribute p {
	color: #FFF;
}

#contact {
	background: #FFCB99;
	text-align: center;
}

p {
	color: #FFF;
	font-size: 20px;
}
